.h4 {
    margin: 5px;
}

.link {
    display: flex;
    flex-direction: row;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    height: 80px;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.a {
    margin-right: 15px;
}