.container {
    padding: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.img {
    margin-right: 40px;
    width: 400px;
    height: 400px;
}

.information {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address {
    display: flex;
    flex-direction: row;
}

.address_info {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    width: 400px;
}

.address_map {
    background-color: lightgrey;
    width: 60%;
    height: 400px;
}

.address_info p {
    margin-bottom: 0px;
}

