.title {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.description {
    overflow: hidden;
    height: 70px;
}

.price {
    color: black;
    font-size: 20px;
    font-weight: normal;
}

.wrapper:hover {
    cursor: pointer;
}

.middle {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
