.container {
    display: flex;
    flex-direction: column;
  }

  .page_title {
      align-self: flex-start;
  }
  
  .form {
    width: 100;
  }
  
  .formContent {
    display: flex;
    justify-content: space-between;
  }
  
  .label {
    display: flex;
    flex-direction: column;
  }
  
  .submit {
    width: 100%;
  }