.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background: white;
  width: 400px;
  border-radius: 15px;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
