.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-color: black;
    border: solid;
    margin-left: 5px;
    border-width: 1px;
}

.form {
    width: 200px;
}

.label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.submit{
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}
